{% extends "./base.html" %}

{% block title %}
<title>Signup</title>
<style>
    .success{
      color: green
    }
</style>
{% endblock title %}

{% block content %}
    {% if messages %}
    {% for m in messages %}
    <small {% if m.tags %} class= '{{m.tags}}' {% endif %} >{{m}}</small> 
    {% comment %} conditional sisis {% endcomment %}
    {% endfor %}
    {% endif %}
    <h1 class= "text-center">Signup</h1>
    {% load crispy_forms_tags %}
    <form method="post" class="container" novalidate>
    {% csrf_token %}
    <!-- {{ form|crispy}} -->
    {% for fm in form  %}

    {{fm.label_tag}}
    {{fm}}
    {{fm.errors}}

    {% endfor %}
    <button class="btn btn-primary mt-3">Submit</button><br>
    <small>Already have an account <a href="{% url 'login' %}">Login</a></small>
    </form>
{% endblock content %}